
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<head runat="server">
    <title>Calculator Application</title>
</head>
<body style="font-family:Arial">
    <form id="form1" runat="server">
        <table>
            <tr>
                <td>Numerator</td>
                <td>
                    <input type="text" class="form-control" ID="txtNumerator" runat="server" width="50px" />
                </td>
            </tr>
            <tr>
                <td>Denominator</td>
                <td>
                    <input type="text" class="form-control" ID="rxrDenominator" runat="server" width="50px"/>
                </td>
            </tr>
        </table>
    </form>
</body>
